h1 {
  color: blue;
  text-align: center;
  margin-top: 20px;
}
.form-agregar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
input {
  width: 50%;
}
label {
  color: blue;
}
.botones {
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: 1px solid white;
  width: 50%;
}
